<html>
    <head>
        <title>Ur mum xddd's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Ur mum xddd's blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>ayy lmao.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>loooool xddddd.
	    <br>noice meem</p>
        </div>
    </body>
</html>
